/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Poppins:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #fff;
}

.scroll-container {
  background: rgb(7, 7, 7);
  width: 25rem;
  padding: 30px;
}

.scroll-div {
  width: 400px;
  height: 500px;
  background: rgb(7, 7, 7);
  overflow: hidden;
  overflow-y: scroll;
}

.scroll-object {
  padding: 20px;
}
/* Responsive typography */

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER & NAV ===============*/

/* Show menu */

/* Change background header */

/* Active link */

/*=============== HOME ===============*/

/* Star animation */

/*=============== BUTTON ===============*/

/*=============== CATEGORY ===============*/

/*=============== ABOUT ===============*/

/*=============== ITEMS ===============*/

/*=============== PARTY ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */

/* For medium devices */

/* For large devices */

/* For 2K resolutions (2048 x 1152) */
